.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Filter_Type_links{
  
  display: block;
  text-align: left;
  line-height: 2;
  
}

.Filter_Brand_links{
  display: block;
  text-align: left;
  line-height: 2;
  
}

.Filter_Price_links{
  display: block;
  text-align: left;
  line-height: 2;
}
.Filter_Parents{
  background:rgb(167, 173, 173);
}
.footer_header{
  color:#282c34;
  font-size: large;
}
#all_footer_links{

color:white;

font-size: large;


}
.admin_left_button{
  text-align: left;
  width:170px;
  height:30px;
  text-align: left;
background: white;
}
#scrollbar::-webkit-scrollbar {
    width: 0.2em;
    background-color: hsl(0, 0%, 96%);
  }
   
  #scrollbar::-webkit-scrollbar-thumb {
    background-color: rgb(147, 217, 147);
  }
   
  #scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(234, 245, 232, 0.3);
    background-color: #F5F5F5;
  }

  .review_heading{
width: 30%;
text-align: left;
/* margin: auto; */
  }
  .review_progress_bar{

    width: 70%;
margin: auto;
  }

  .checkbox-container {
    display: flex;
    align-items: center;
  }
  
  .checkbox-label:before {
  
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid #000;
    border-radius: 3px;
    vertical-align: middle;
    text-align: center;
    line-height: 20px;
  }
  
  /* .checkbox-input:checked + .checkbox-label:before {
    content: "\2713";
    background-color: #000;
    color: #fff;
  } */